@model AuthDemoProject.ViewModels.AddSongViewModel

<h1>Add New Song</h1>

<form asp-controller="Song" asp-action="ProcessAddSongForm" method="post">
    <div class="form-group">
        <label>Song Name</label>
        <input />
    </div>
    <div class="form-group">
        <label>Song Artist</label>
        <input />
    </div>
    <input type="submit" value="Submit" />
</form>

