

<h1>Delete Song</h1>

<form asp-controller="Song" asp-action="Delete" method="post">
    @foreach (var sng in ViewBag.songs)
    {
        <div class="form-group">
            <label>
                <span>@sng.Name</span>
                <input type="checkbox" name="songIds" value="@sng.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Songs" class="btn btn-danger">

</form>
