@model AuthDemoProject.ViewModels.AddArtistViewModel

<h1>Add New Artist</h1>

<form asp-controller="Artist" asp-action="ProcessAddArtistForm" method="post">
    <div class="form-group">
        <label>Artist Name</label>
        <input />
    </div>
    <div class="form-group">
        <label>Artist Genre</label>
        <input />
    </div>
    <input type="submit" value="Submit" />
</form>




