<h1>Add A Song</h1>

<form asp-controller="Home" asp-action="ProcessAddSongForm" method="post">

    <div class="form-group">

        <label>Name</label>

        <input class="form-control"/>

        <span></span>

    </div>

    <input type="submit" value="Add Song"/>

</form>