@model AuthDemoProject.ViewModels.SongDetailViewModel

<h1>@Model.Name</h1>

<table class="table">

    <tr>

        <th>Artist</th>

        <td>@Model.ArtistName</td>

    </tr>

    <tr>

        <th>Genres</th>

        <td>@Model.GenreText</td>

    </tr>


</table>

<a asp-controller="Genre" asp-action="AddSong" asp-route-id="@Model.SongId">Add additonal genres</a>
