@model List<AuthDemoProject.Models.Song>

@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="text-center">
    <h1 class="display-4">Welcome to TunIn` Music Database</h1>
    <h2>By Jordon Peyton</h2>
    <p><a asp-controller="Home" asp-action="AddSong">Add Songs</a></p>
    <p><a asp-controller="Search" asp-action="Index">Search Songs</a></p>
    <p><a asp-controller="List" asp-action="Index">List</a></p>
</div>





