@model List<AuthDemoProject.Models.Song>

@*@{
    ViewData["Title"] = "Home Page";
}*@


<style>
    h1 {
        color: red;
        font-family: fantasy;
        font-size: 200%;
    }
    h3 {
        font-family: fantasy;
        font-size: 170%;
    }
    p {
        padding: 10px;
        margin: 10px;
        font-family: fantasy;
        font-size: 140%
    }

</style>
<div class="text-center">
    <h1 class="display-4">Welcome to TunIn` Music Database</h1>
    <h3>By Jordon Peyton</h3>
    <p><a asp-controller="Song" asp-action="Add">Add Songs</a></p>

    <p><a asp-controller="Artist" asp-action="Add">Add Artist</a></p>

    <p><a asp-controller="Genre" asp-action="Add">Add Genre</a></p>

    <p><a asp-controller="Search" asp-action="Index">Search</a></p>

    <p><a asp-controller="List" asp-action="Index">List</a></p>
</div>



