@model List<AuthDemoProject.Models.Song>

@*@{
    ViewData["Title"] = "Home Page";
}*@


<style>
    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
    }

    p {
        padding: 10px;
        margin: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 170%
    }

</style>
<div class="text-center">
    <h1 class="display-4">Welcome to TunIn` Music Database</h1>
    <p><a asp-controller="Song" asp-action="Index">Song</a></p>

    <p><a asp-controller="Artist" asp-action="Index">Artist</a></p>

    <p><a asp-controller="Genre" asp-action="Index">Genre</a></p>

    <p><a asp-controller="List" asp-action="Index">List</a></p>

</div>




